
edocs.dubois.zip {
        reverse_proxy 10.10.0.24:8787
        import cloudflare
}

jelly.duboiss.com {
        reverse_proxy 10.10.0.189:8096 {
                transport http {
                        tls_insecure_skip_verify
                }
        }
}


camera.dubois.zip {
        reverse_proxy 10.10.0.213:8080 {
        }
        import cloudflare
}